<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>{{title}}!</title>
        {% else %}
            <title>No Name</title>
        {% endif %}
    </head>
    <body>
        <div>
            <p>My Website:</p>
            <a href="/">Home</a>
	    {% if not authorized %}
            <a href="/login">Login</a>
	    <a href="/register">Register</a>
            {% endif %}
            {% if authorized %}
            <a href="/logout">Logout</a>
	    <a href="/delete">Delete Account</a>
            {% endif %}
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for m in messages %}
            <li>{{ m }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    {% block content %}
    {% endblock %}
    </body>
</html>
