{% extends "base.html" %}
{% block content %}
    
<div class="jumbotron">
    <div class="container text-center">
        <h1>To-Do List</h1>
    </div>
</div>
<div class="container">
    <div class="list-group">
        {% for i in range(list_todo|length) %}
        <a href="{{ '/show-note/%s'%list_todo[i].id }}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ list_todo[i].title }}</h5>
                <small class="text-muted">Order {{ i+1 }}</small>
            </div>
            <p class="mb-1">{{ list_todo[i].title }}</p>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}